.unsave{
    color: red;
}
.unsave:hover{
    background-color: rgb(242, 104, 104);
    color: white;
}

@keyframes loading-icon {
    from  {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-icon {
    animation: loading-icon 0.8s linear infinite;
}

// My Job
h5.job-name {
    --height: 20px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: var(--height);
    height: var(--height);
}