@keyframes loading-icon {
    from  {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading-icon {
    animation: loading-icon 0.8s linear infinite;
}

.company-wrapper {
    outline: 1px dashed #888;
    background-color: #f5f5f5;
    color: #a5a6a7;
    min-height: 110px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
}

.company-label {
    font-size: 15px;
    font-weight: 550;
}

.company-logo {
    font-size: 15px;
}

.company-logo__icon {
    margin-right: 8px;
}

.company-photo {
    width: 180px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company-photo:hover .company-photo__action {
    display: flex;
}

.company-photo__action {
    min-height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 235, 229, .5);
    position: relative;
    display: none;
    animation: fadeIn .2s ease;
    z-index: 1;
}

.company-photo__action-label {
    background-color: #fff;
    border: 1px solid #ff7d55;
    border-radius: 6px;
    color: #ff7d55;
    font-size: 14px;
    padding: 4px 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.company-photo__action-label:hover+.company-photo__action-desc {
    display: block;
}

.company-photo__action-desc {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    padding: 2px 6px;
    color: #333;
    display: none;
    animation: fadeIn .3s ease;
}

.company-photo__action-desc::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%); 
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent #f5f5f5 transparent;
}

