// General styles
:root {
    --text-white: #fff;
    --primary-color: #7f7f7f;
    --default-cv-width: 800px;
}

.fz-13 {
    font-size: 13px !important;
}

.text-italic {
    font-style: italic !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

// 1
.wrapper {
    margin: 20px 0;
    display: flex;
    align-items: start;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.btn {
    border: 1px solid #ccc;
    padding: 12px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: transparent;

    &:hover {
        border-color: red;
        color: red;
        cursor: pointer;
    }
}

.btn.active {
    border-color: red;
    color: red;
}

// CHILDREN
// 1
.children-wrapper {
    margin: 12px 0 12px 20px;
    min-width: var(--default-cv-width);
    flex: 1;
    background-color: #fff;
}

.header {
    border: 1px solid #ccc;
    padding: 10px;

    &:hover {
        border-color: green;
    }
}

.header__label {
    text-align: center;
}

.name {
    font-size: 32px;
}

.nominee {
    margin: 8px 0 16px 0;
}

.content__education-text,
.nominee {
    color: var(--primary-color);
}

.header__info {
    span {
        font-size: 13px;
        margin-left: 4px;
        color: var(--primary-color);
        font-style: italic;
    }

    span.isValue {
        color: #000;
        font-style: normal;
    }

    span.border {
        border: 1px dashed red;
        padding: 2px;
    }
}

.header__info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

// Content
.content-wrapper {
    border: 1px solid #ccc;
    padding: 16px 24px;
}

.content__title {
    font-size: 16px;
    font-weight: 550;
    border-bottom: 1px solid #000;
    padding: 4px 0;
    margin-bottom: 0;
}

.content__education {
    padding: 16px 0;
}

.content__education-text {
    margin-bottom: 4px;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

// 2
.container {
    display: flex;

    .header {
        font-size: 13px;
        color: var(--text-white);
        width: calc(100% / 3);
        background-color: rgb(98, 98, 98);

        &:hover {
            border: 1px solid #ccc;
        }
    }

    .header__label {
        text-align: inherit;
    }

    .header__img {
        width: 100%;
        border-radius: 6px;
    }

    .header__label-info {
        margin: 16px 0;
        padding: 0 8px;
    }

    .name {
        font-size: 24px;
        color: var(--text-white);
    }

    .header__info-title {
        margin-top: 8px;

        &::after {
            content: '';
            display: block;
            border-bottom: 1px solid #aaa;
            margin: 4px 0 8px 0;
        }
    }

    .header__info-title,
    .header__info-content {
        margin-bottom: 8px;
        padding: 0 8px;
    }

    .header__info-title,
    .nominee,
    .header__info-content span {
        color: #aaa;
    }

    .header__info-content i {
        width: 20px;
    }

    .header__info-content span.isValue {
        color: var(--text-white);
    }

    .content-wrapper {
        flex: 1;
    }

    .header__info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
}
