/* Header Search Job */
.search-job {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.search-job.bg {
    padding: 16px;
    background-color: rgba(0,0,0,.15);
    border-radius: 12px;
}