.anh{
    width: 210px;
    background-color: #353a3d;
    height: 1000px;
    float: left;

}
.anh .img img{
    width: 180px;
    height: 186px;
}

.anh h3{
    font-size: 23px;
    padding: 10px;
    color: #ec8f00;
}

.thongtin{
    width: 190px;
    padding: 10px;
}
.thongtin div input{
    width: 190px;
    background-color: #353a3d;
    padding-left: 8px;
}
.kynang{
    width: 190px;
    padding: 10px;
}
.vitri input{
    ::placeholder{color: #ec8f00;} 
}
.sothich{
    width: 190px;
    padding: 10px;
}
.thongtinthem{
    width: 190px;
    padding: 10px;
}
.kinhnghiem{
    float: left;
}

.kinhnghiem div p strong{
    color: #ec8f00;
}
.kinhnghiem1{
    padding: 25px;
}
.muctieu{
}
