.heart:hover{
    color: #fda88e;
}

.job-name {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 4px;
    line-height: 30px;
    font-weight: 500;
    color: rgb(51, 51, 51);

    &:hover {
        color: rgba(51, 51, 51, .9);
    }
}