@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control{
    @apply !w-full py-6 !text-base;
}

.opt-container {
    @apply flex justify-between gap-2;
}

.opt-container input {
    @apply !mr-0 flex-1 py-5 outline-none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-area{
  width: 25px;
  height: 25px;
  border: 2px solid #ccc; 
  background-color: #FFF;
  animation: spinner 1s linear infinite;
}




